*{
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    margin: 0;
    font-family: "Manrope";
    padding: 3rem 1rem;
    background: hsl(210, 46%, 95%);
    color: hsl(214, 17%, 51%);
}

main{
    border-radius: 1rem;
    overflow: hidden;
    background: white;
    max-width: 770px;
    margin: 0 auto;
}

h1,h2,h3,p{
    margin:0;
}

article{
    padding: 2rem 0 0;
}

article>*{
    padding: 0rem 2rem;
}

h1{
    font-size: 1rem;
    color: hsl(217, 19%, 35%);
}

h2,h3{
    font-size: .8rem;
}

h2{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

h3{
    color: hsl(212, 23%, 69%);
    font-weight: normal;
    margin: .3rem 0 0;
}

img{
    vertical-align: bottom;
}

p{
    line-height: 1.4rem;
    font-size: .9rem;
    margin: 1rem 0 0;
}

.ib{
    display: inline-block;
}

.profile-pic{
    width:45px;
    border-radius: 50%;
    margin-right: 1rem;
}

aside{
    text-align-last: justify;
    margin: 1rem 0 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

aside>*{
    text-align-last: initial;
}

.share-button{
    width:35px;
    height:35px;
    background: hsl(210, 46%, 95%);
    border-radius: 50%;
    text-align-last: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.share-button>*{
    vertical-align: bottom;
}

aside>div *{
    vertical-align: middle;
}

.drawers-pic{
    width:100%;
}

.socials{
    color: hsl(212,23%,69%);
    display: none;
}

.socials > *+*{
    margin-left:1rem;
}

.socials span{
    text-transform: uppercase;
    letter-spacing: 5px;
}


.socials.add{
    display: inline-block;
}

@media screen and (min-width: 819px) {
    main{
        overflow: visible;
    }

    .dib{
        display: inline-block;
    }

    .v-align-mid{
        vertical-align: middle;
    }

    .drawers-pic{
        width: 122%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .drawer-container{
        width: 40%;
        overflow: hidden;
    }

    article{
        width: 59%;
        padding: 2rem 2rem 1rem;
    }

    h1{
        font-size: 1.35rem;
    }

    article>*{
        padding:0;
    }

    .socials{
        position: absolute;
        padding: 1rem 2rem 1rem;
        background: hsl(217, 19%, 35%);
        top:-85px;
        right:0;
        width:max-content;
        border-radius: .5rem;
        /*transform: translateX(-50%);*/
    }
    
    .socials::before{
        content: "";
        /*background: hsl(217, 19%, 35%);*/
        position:absolute;
        /*left: 50%;*/
        top: 100%;
        left:93%;
        transform: translateX(-50%);
        border-right: 10px solid white;
        border-left: 10px solid white;
        border-top: 10px solid hsl(217, 19%, 35%);
    }
}

@media screen and (max-width: 819px) {
    .infos.remove{
        display: none;
    }

    aside.active-socials{
        background: hsl(217, 19%, 35%);
    }
    
}

@media screen and (min-width: 930px) {
   .socials{
       right:auto;
       left:50%;
       transform: translateX(-50%);
   }

   .socials::before{
       left:50%;
   }
}
